[Unit]
Description=SnipsFeedbackSound
Requires=mosquitto.service snips-analytics.service snips-dialogue.service snips-hotword.service snips-asr.service snips-nlu.service snips-audio-server.service snips-tts.service
After=mosquitto.service snips-analytics.service snips-dialogue.service snips-hotword.service snips-asr.service snips-nlu.service snips-audio-server.service snips-tts.service

[Service]
Type=simple
User=%i
ExecStartPre=/bin/sleep 5
ExecStart=/usr/local/bin/snips-enable-feedback-sound.sh

[Install]
WantedBy=multi-user.target
